altgraph==0.17.2
asgiref==3.4.1
auto-py-to-exe==2.11.0
bottle==0.12.19
bottle-websocket==0.2.9
cffi==1.15.0
click==7.1.2
css==0.1
DateTime==4.3
DAWG-Python==0.7.2
Django==3.2.8
docopt==0.6.2
Eel==0.12.4
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.2
html==1.13
image==1.5.33
pefile==2021.9.3
Pillow==8.2.0
pycparser==2.21
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.3
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
PyQt5==5.15.4
PyQt5-comet==1.0.3
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt==5.15.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5-stubs==5.15.2.0
pyqt5-tools==5.15.4.3.2
python-dotenv==0.19.0
pytz==2021.3
pywin32-ctypes==0.2.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
six==1.16.0
sqlparse==0.4.2
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.4.0
